.custom_checkbox {
  position: relative;
  font-size: $font_size;
  border-bottom: 1px solid rgba(169, 174, 211, 0.5);
  padding-bottom: 20px;
  margin-bottom: 20px;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &__label {
    display: block;
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    padding-left: 24px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      border: 1px solid #CBD1E7;
      top: 50%;
      margin-top: -12px;
    }
  }

  &__icon {
    background: $main_color;
    border-radius: 3px;
    height: 32px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 24px;


    img {
      max-width: 100%;
      max-height: 100%;
    }

    &.cod {
      svg {
        margin-bottom: -6px;
      }
    }

    &.momo {
      background: #C02380;
    }

    &.atm {
      background: #4EBCDB;
    }
  }

  &__text {
    margin-left: 24px;

    span {
      font-size: 15px;
      line-height: 15px;
      letter-spacing: -0.3125px;
      color: #40445B;
      opacity: 0.5;
    }
  }

  &__input {
    &:checked~.custom_checkbox__content {
      &::after {
        content: '';
        position: absolute;
        left: 6px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        border: 1px solid $main_color;
        background: $main_color;
        top: 50%;
        margin-top: -6px;
      }
    }
  }
}
