@import 'styles/vars.scss';

$upgrade_title: #282828;

.pricing {
    padding: em(80px) 0;

    &__title {
        margin-bottom: em(30px, 60px);
    }

    &__inner {
        max-width: 890px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .info {
        width: percentage(480/890);
        box-shadow: 0px 0px 30px rgba(234, 85, 78, 0.3);
        border-radius: 10px;
        background-color: $main_color;
        color: $white;
        padding: em(45px) em(60px);

        &__title {

            .unit {
                font-size: 40px;
                line-height: 55px;
                font-weight: normal;
                position: absolute;
                top: 0;
                left: 0;
            }

            .price {
                font-size: 80px;
                line-height: 109px;
                font-weight: 900;
                position: relative;
                display: inline-block;
                padding-left: 32px;

                &:after {
                    content: '';
                    display: inline-block;
                    width: 2px;
                    height: 46px;
                    background-color: $white;
                    transform: rotate(25deg);
                    position: relative;
                    margin-right: 10px;
                    margin-left: 12px;
                }
            }

            .text {
                font-size: 30px;
                line-height: 41px;
            }
        }

        &__list {
            font-size: 24px;
            line-height: 34px;
        }

        &__bottom {
            margin-bottom: 0;
            padding-top: em(15px);
        }

        &__icon {
            margin-right: em(13px, 24px);
            margin-top: -3px;
        }

        &__btn {
            text-transform: uppercase;

            &:hover {
                border-color: $white;
            }
        }
    }

    .upgrade {
        width: percentage(410/890);
        height: 370px;
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
        border-radius: 0px 10px 10px 0px;
        justify-content: center;

        &__title {
            font-weight: 900;
            font-size: em(50px);
            line-height: em(68px, 50px);
            color: $upgrade_title;
            margin-bottom: em(30px, 50px);
        }

        &__btn {
            text-transform: uppercase;
        }
    }

    @include max-lg() {
        .info {
            width: percentage(1);
            position: relative;
            z-index: 1;
        }

        .upgrade {
            width: calc(100% - 24px);
            margin: -10px auto 0 auto;
        }
    }

    @include max-md() {
        padding: em(41px) 0;

        &__title {
            margin-bottom: em(29px, 40px);
        }

        .info {
            padding: em(30px) em(36px);

            &__title {
                margin-bottom: em(10px);

                .price {
                    font-size: em(72px);
                    line-height: em(98px, 72px);

                    &:after {
                        height: 40px;
                    }
                }

                .unit {
                    font-size: em(36px, 72px);
                    line-height: em(49px, 36px);
                }

                .text {
                    font-size: em(27px);
                    line-height: em(37px, 27px);
                }
            }

            &__list {
                font-size: em(20px);
                line-height: em(34px, 20px);
            }
        }

        .upgrade {
            height: 194px;

            &__title {
                font-size: em(34px);
                line-height: em(46px, 34px);
                margin-bottom: em(10px, 34px);
            }

            &__btn {
                font-size: em(14px);
            }
        }
    }
}