@import 'styles/vars.scss';

.hero-banner {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: $main_color;
    font-weight: 900;
    color: $white;

    &__title {
        display: flex;
        align-items: flex-end;
        margin-bottom: em(30px);
        flex-wrap: wrap;
    }

    &__char {
        font-size: em(80px);
        line-height: em(80px, 100px);
        padding: 0 em(19px, 100px);
    }

    &__manage {
        margin-bottom: em(-22px);
    }

    &__sub-title {
        margin-bottom: 0;
        font-size: em(100px);
        line-height: em(100px, 100px);
    }

    &__more {
        display: flex;
        margin-top: em(145px);
        position: relative;
    }

    &__view-demo {
        margin-right: em(100px, 18px);
    }

    &__desc {
        font-size: em(19px);
        line-height: em(26px, 19px);
        margin-bottom: 0;
        font-weight: normal;
        padding-right: em(26px, 19px);
    }

    &__scroll {
        border: none;
        background-color: $nocolor;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -14px;

        svg {
            position: relative;
            -webkit-animation: mymove 1s infinite;
            animation: mymove 1s infinite;
            top: -10px;
        }
    }

    @include max-md() {
        padding-top: em(90px);

        &__title {
            margin-bottom: em(25px);
        }

        &__svg {
            &--build {
                width: 178px;
            }

            &--manage {
                width: 294px;
            }
        }

        &__char {
            font-size: 60px;
        }

        &__sub-title {
            font-size: em(56px);
            line-height: em(56px, 56px);
        }

        &__more {
            margin-top: em(30px);
            padding-bottom: em(147px);
            flex-wrap: wrap;
        }

        &__desc {
            font-size: em(17px);
            line-height: em(26px, 17px);
            order: -1;
            width: percentage(1);
        }

        &__view-demo {
            font-size: em(14px);
            line-height: em(20px, 14px);
            height: em(36px, 14px);
            line-height: em(36px, 14px);
            margin-right: 0;
            margin-top: em(30px, 14px);
        }

        &__scroll {
            width: 14px;
            top: auto;
            bottom: 27px;
            left: 50%;
            margin-left: -8px;

            svg {
                width: percentage(1);
            }
        }
    }
}

@-webkit-keyframes mymove {
    0 {
        top: -10px;
    }

    50% {
        top: -5px;
    }

    100% {
        top: -10px;
    }
}

@keyframes mymove {
    0 {
        top: -10px;
    }

    50% {
        top: -5px;
    }

    100% {
        top: -10px;
    }
}